<footer>
    <div class="content">
        <div class="footer-column">
            <div class="img">
                <a href="{{ path('app_home') }}"><img src="{{ asset('/img/Frame.svg') }}" alt="Marshall Motors Typography Logo" class="footer-logo"></a>
            </div>
            <p>© <a href="{{ path('app_home') }}">Marshall Motors</a> | <a href="{{ path('app_legalnotices') }}">Mentions Légales</a>  | Cookies</p>
        </div>

        <div class="mentions-div">
            <ul class="footer-mentions">
                <li><a href="{{ path('app_legalnotices') }}"><h4>Mentions légales</h4></a></li>
                <li><a href="{{ path('app_legalnotices') }}">Cookies</a></li>
                <li><a href="{{ path('app_legalnotices') }}">CVG</a></li>
                <li><a href="{{ path('app_legalnotices') }}">Conditions d'utilisations</a></li>
            </ul>
            <ul class="footer-contact">
                <li><a href="{{ path('app_contact') }}"><h4>Contact</h4></a></li>
                <li><a href="{{ path('app_offres') }}">Nos Offres</a></li>
                <li><a href="{{ path('app_about') }}">À Propos</a></li>
                <li><a href="{{ path('app_contact') }}">Newsletter</a></li>
            </ul>
        </div>
        <div class="logo-div">
            <ul class="footer-snw footer-column">
                <li class="footer-icon-snw"><a href=""><img src="{{ asset('img/instagram_white_logo.svg') }}"alt=""></a></li>
                <li class="footer-icon-snw"><a href=""><img src="{{ asset('img/twitter_white_logo.svg') }}" alt=""></a></li>
                <li class="footer-icon-snw"><a href=""><img src="{{ asset('img/facebook_white_logo.svg') }}" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
