<nav>
	<div class="content">
		<a href="{{path ('app_home')}}"><img class='logo' src="{{ asset('img/logo.svg') }}" alt='logo'></a>
		<ul class='nav-links'>
			<li><a href="{{ path('app_offres') }}">Offres</a></li>
			<li><a href="{{ path('app_about') }}">À propos</a></li>
			<li><a href="{{ path('app_contact') }}">Contact</a></li>
		</ul>
	</div>
</nav>
